    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

        .themed-grid-col {
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: rgba(86, 61, 124, .15);
        border: 1px solid rgba(86, 61, 124, .2);
        }

        .themed-container {
        padding: .75rem;
        margin-bottom: 1.5rem;
        background-color: rgba(0, 123, 255, .15);
        border: 1px solid rgba(0, 123, 255, .2);
        }

    </style>

    
    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">

<div class="jumbotron">

<div class="container-lg">
<h2>Add New Player</h2>
<form method="POST" action="">
	<div>
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" value="">
	</div>
	<div>
		<label for="born">Born Date:</label>
		<input type="date" id="born" name="born" value="">
	</div>
	<div>
		<label for="nationality">Nationality:</label>
		<input type="text" id="nationality" name="nationality" value="">
	</div>
	<div>
		<label for="position">Position:</label>
		<input type="text" id="position" name="position" value="">
	</div>
	<div>
		<label for="height">Height(CM):</label>
		<input type="number" id="height" name="height" value="">
	</div>
	<div>
		<label for="weight">Weight(KG):</label>
		<input type="number" id="weight" name="weight" value="">
	</div>
	<div>
		<label for="team_name">Team Name:</label>
		<input type="text" id="team_name" name="team_name" value="">
	</div>
</form>
</div>
</div>
<input class="btn btn-primary" type="submit" value="Add">